.button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  width: 100%;

  background-color: #c83e4d;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px 0 #a0323d;

  cursor: pointer;
  overflow-wrap: break-word;
  min-width: 0;

  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.button:hover {
  /*background-color: #d9534f;*/
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 #a0323d;
}
